@import "tailwindcss";


::-webkit-scrollbar {
    display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}